.card {
  border: 2px solid rgb(0 0 0 / 20%);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 14px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.MoviePreviewThumb {
  height: 500px;
  text-decoration: none;
}

.MoviePreviewThumb > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.cardTitle {
  text-align: center;
  font-size: 18px;
}

.cardText {
  text-align: center;
}
