.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.Nav__header {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  min-height: 64px;
  padding: 20px 24px;
}

.Nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.Nav__page {
  margin-right: 20px;
}

.NavLink {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.NavLink__active {
  color: rgb(231, 133, 133);
}
